certifi==2020.12.5
click==7.1.2
cycler==0.10.0
ffmpeg==1.4
ffprobe==0.5
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1610099793141/work
MarkupSafe==1.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1611858891119/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1612953032265/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1612816988466/work
pydub==0.24.1
pyparsing==2.4.7
python-dateutil==2.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SpeechRecognition==3.8.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094711612/work
Werkzeug==1.0.1
