amqp==5.0.5
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cycler==0.10.0
ffmpeg==1.4
ffprobe==0.5
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.3.1
kombu==5.0.2
MarkupSafe==1.1.1
matplotlib==3.3.4
numpy==1.20.1
olefile==0.46
Pillow==8.1.0
pip==21.0.1
prompt-toolkit==3.0.16
pydub==0.24.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
setuptools==49.6.0
six==1.15.0
SpeechRecognition==3.8.1
tornado==6.1
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
wheel==0.36.2
