<!doctype html>
<html>
   <head>
      <title>Happy Birthday Leah</title>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
   </head>
<body style="background-color: #daac69; text-align: center;">
   <div id="title">Download File</div>
   <div class="container">
      <a href="/result/{{value}}" target="blank">
         <img src="{{url_for('static', filename='images/download.PNG')}}">
      </a>
   </div> 
</body>
</html>

