<!doctype html>
<head>
   <title>Happy Birthday Leah</title>
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
   <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: #DB4231;">
   <div class="container">
      <div id="title">Download File</div>
      <img src="{{url_for('static', filename='images/download.PNG')}}">
      <a href="/result/{{value}}" target="blank"><button>Download</button></a>
   </div>
</body>
