<!DOCTYPE html>
  <html>
    <head>
        <title>404</title>   
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
    </head>
    <body style="background-color:#daac69">
        <div class = "container" style="height: 350px;"></div>   
        </div>
        <div id="title" style='text-align: center; font-size: 50px;color:black;'>Error 404</div>
        <div class="center"> 
            <a href="/" target="blank"><button class='button'>Go back</button></a>
        </div>   
    </body>
  </html>