<!DOCTYPE html>
    <html>
      <head>
        <title>Happy Birthday Leah</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
      </head>
    <body style="background-color: #daac69;">
    <div class="container">
      <div id="title">Upload your audio</div>
      <img src="{{url_for('static', filename='images/leah_birthday.PNG')}}">
      <p><a href="https://clideo.com">Maybe use this link to cut your video first!</a></p>
      <p>
        <form method=post enctype=multipart/form-data>
          <input type=file name=file class="button">
          <input type=submit value=Upload class="button">
        </form>
      </p>
    </div>
    </body>
    </html>