<!DOCTYPE html>
    <html>
      <head>
        <title>Happy Birthday Leah</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
      </head>
    <body style="background-color: #DB4231;">
    <div class="container">
      <div id="title">Upload your audio</div>
      <img src="assets/images/birthday.PNG">
      <p>
        <form method=post enctype=multipart/form-data>
          <input type=file name=file class="button">
          <input type=submit value=Upload class="button">
        </form>
      </p>
    </div>
    </body>
    </html>