<!doctype html>
<html>
    <head>
        <title>Happy BirthDay Leah</title>
        <style>
            .button {
                font-family: "Comic Sans MS";
                color: azure;
                border: 2px solid #6c5ce7;
                padding: .2em .4em;
                border-radius: .9em;
                background-color: #a29bfe;
                transition: 1s;
                }
        </style>
    </head>
    <body style='background-color: #daac69;'>
        <div class = "container" style="height: 350px;"></div>   
        <div class="container" style="align-items: center; display: flex; flex-direction: column;margin: auto;">
            <div id="title" style='text-align: center; font-size: 50px;color:black;'>Shall we start?</div>
            <div>&nbsp;</div>
            <a href="/start/{{value}}" target="blank"><button class='button'>Let's go</button></a>
        </div>
    </body>
</html>       